body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #AFCBDA;
}

header {
    background-color: #E9EFF6;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    font-size: 15px;
}

.logo {
    color: black;
}

.search {
    position: relative;
    text-align: right;
    width: 400px;
}

.search input {
    width: calc(100% - 80px); 
    border-radius: 20px;
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 10px 12px;

    
}

.search button {
    position: absolute;
    right: 0; 
    top: 10px; 
    color: #fff;
    padding: 10px 15px; 
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-bottom-color: rgba(0, 0, 0, 0.34);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #6698cb;
    border-radius: 20px;
}

.movie-block{
    display: grid;
}

.movie-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    margin: 10px;
    padding: 20px;
    width: 300px;
    justify-self: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}